<div class="flex-auto shadow-2xl bg-gray-100 rounded-xl p-4">
    <h1 class="text-xl text-center">
        {{projectName}}
    </h1>

    <a href="{{gitRepo}}" target="_blank" class="row-12 p-4">
        <img class="rounded" src="{{heroImage}}" alt="{{heroImage}}">
    </a>
        
    <!-- Deployment -->
    <div>
        <h3 class="text-2xl">
            Deployment
        </h3>
        <a href="{{deployedLink}}" class="indent" target="_blank">Check out the deployed app here!
        </a>
    </div>

    <!-- About -->
    <div>
        <h3 class="text-2xl">
            About The Project
        </h3>
        <p class="indent">
            {{aboutTheProject}}
        </p>
    </div>

    <!-- Development -->
    {{!-- <div class="mt-3 text-2xl">
        <h3>
            Development
        </h3>
        <p class="indent">
            {{development}}
        </p>
    </div> --}}
</div>